<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="../static/img/sigma.png"/>
        <title>simple-fsm</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vis.min.css') }}"/> 
        <style type="text/css">
            #displayedGraph {
            width: 100%;
            height: 600px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">simple<strong>fsm</strong></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('editor') }}">Editor</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('help') }}">Help</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://glyphicons.com/">Glyphicons</a></li>
                    <li><a href="http://github.com/kuhi/simple-fsm">GitHub</a></li>
                </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        
    
        <div class="container">
            <div class="jumbotron"> 
                <br>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <button type="button" class="btn btn-success " data-toggle="modal" data-target="#addNode"><span class="glyphicon glyphicon-plus"></span> Add node</button>
                        <button type="button" class="btn btn-success " data-toggle="modal" data-target="#addEdge"><span class="glyphicon glyphicon-plus"></span> Add Edge</button>
                        <button type="button" class="btn btn-warning " onclick="removeSelected()"><small><span class="glyphicon glyphicon-remove"></span></small> Remove selected</button>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    <button type="button" class="btn btn-danger " onclick="removeGraph()"><small><span class="glyphicon glyphicon-remove"></span></small> Scrap it all!</button>
                    </ul>
                </div>
                <!-- Modal -->
                <div id="addNode" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add node</h4>
                      </div>
                      <div class="modal-body">
                          <form role="form">
                            <div class="form-group">
                              <label for="inputsm">Node label</label><br/>
                              <small>It's not a requirement, but we highly recommend naming the nodes uniquely!</small>
                              <input class="form-control input-sm" id="label" type="text">
                            </div>
                            <label for="sel1">Select type</label>
                                <select class="form-control" id="type">
                                    <option>Initial</option>
                                    <option>Final</option>
                                    <option>Initial and Final</option>
                                    <option>Regular</option>
                                </select>
                          </form>
                      </div>
                      
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="addNode()">Add</button>
                      </div>
                      <script>
                        
                        </script>
                    </div>
                  </div>
                </div>    

                 <!-- Modal -->
                <div id="addEdge" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                          <form role="form">
                            <div class="form-group">
                              <label for="inputsm">Under</label>
                              <input class="form-control input-sm" id="under" type="text">
                            </div>
                            <div class="form-group">
                              <label for="inputsm">From</label>
                              <input class="form-control input-sm" id="from" type="text">
                            </div>
                            <div class="form-group">
                              <label for="inputsm">To</label>
                              <input class="form-control input-sm" id="to" type="text">
                            </div>
                          </form>
                      </div>
                      <div class="modal-body" id="nodeIds"></div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="addEdge()">Add</button>
                      </div>
                    </div>
                  </div>
                </div>    
                <br/>
                <div class="bg-danger text-danger" id="errorFeed"></div>
                <br/>
                <div id="displayedGraph"></div>
                <div id="outputArea"></div>
                <br/>
                
                <input class="btn btn-s btn-success" id="exFsmXml" type="submit" value="Export as fsm-xml (native)" />
                <input class="btn btn-s btn-success" id="exScXml" type="submit" value="Export as scxml" />
                <br/>
            </div>
        </div>
        
        <script src="{{ url_for('static', filename='jquery-1.12.3.min.js')}}"></script>
        <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='vis.min.js') }}"></script>
        <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        
        var hasInitial = 1;
        var nodeId = 1;
        var edgeId = 1;
                
        //Generate the initial graph
        var nodes = new vis.DataSet([
            {id:0, label:'0', shape:'diamond', color:{background:'#33cc33'}}
        ]);
        var edges = new vis.DataSet([
            {id:0, from:0, to:0, arrows:'to', label:'a'}
        ]);
        var container = document.getElementById('displayedGraph');
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {};
        var network = new vis.Network(container, data, options);
              
        document.getElementById('nodeIds').innerHTML = "<p>Existing nodes:<br/> ";
        for (id in nodes.getIds()) {
            document.getElementById('nodeIds').innerHTML += "<code>(ID: "+id+", Label: "+nodes.get(id).label+")</code><br/> ";
        }
        document.getElementById('nodeIds').innerHTML += "</p>";        
        
        function updateNodeList() {
            document.getElementById('nodeIds').innerHTML = "<p>Existing nodes:<br/> ";
            for (id in nodes.getIds()) {
                document.getElementById('nodeIds').innerHTML += "<code>(ID: "+id+", Label: "+nodes.get(id).label+")</code><br/> ";
            }
            document.getElementById('nodeIds').innerHTML += "</p>";
        }
        
        updateNodeList();
        
        //Adds a node - there are several cases that need to be taken care of
        function addNode() {
            //Wipe the error feed
            document.getElementById('errorFeed').innerHTML = "";
            
            var nodeColor = "";
            var nodeShape = "";
            var type = document.getElementById("type").value;
            var nodeLabel = document.getElementById("label").value;            
            
            //Error checking - print the output
            if (nodeLabel.trim() === "") {
                document.getElementById('errorFeed').innerHTML = "A node label cannot be empty!"
                return;
            }
            
            if (type === "Initial and Final"){
                if (hasInitial === 1) {
                    document.getElementById('errorFeed').innerHTML = "The graph already has an initial state! Either remove it or change its type!"
                    return;
                } else {
                    hasInitial = 1;
                }
                nodeShape = "diamond";
                nodeColor = {background:'#33cc33'}; 
            } else if (type === "Final"){
                nodeColor = {background:'#33cc33'};
            } else if (type === "Initial"){
                if (hasInitial === 1) {
                    document.getElementById('errorFeed').innerHTML = "The graph already has an initial state! Either remove it or change its type!"
                    return;
                } else {
                    hasInitial = 1;
                }
                nodeShape = "diamond";
            }
            
            if(nodeColor !== "" && nodeShape !== ""){
                nodes.add({id: nodeId, label: nodeLabel, color: nodeColor, shape: nodeShape}); 
                ++nodeId;
            } else if (nodeColor !== ""){
                nodes.add({id: nodeId, label: nodeLabel, color: nodeColor});  
                ++nodeId;
            } else if (nodeShape !== ""){
                nodes.add({id: nodeId, label: nodeLabel, shape: nodeShape});  
                ++nodeId;
            }  else {
                nodes.add({id: nodeId, label: nodeLabel});  
                ++nodeId;
            }  
            updateNodeList();
        }
        
        //Adds an edge
        function addEdge() {
            document.getElementById('errorFeed').innerHTML = "";
            var fromId = document.getElementById("from").value;
            var toId = document.getElementById("to").value;            
            var under = document.getElementById("under").value;
            console.log(toId);
            console.log(fromId);
            
            
            if (nodes.getIds().indexOf(parseInt(fromId)) === -1 || nodes.getIds().indexOf(parseInt(toId)) === -1) {
                document.getElementById('errorFeed').innerHTML = "Invalid from/to id! Use only existing node ids!"
                return;
            }
            
            if (under === "") {
                document.getElementById('errorFeed').innerHTML = "Epsilon transitions are not allowed!"
                return;
            }
            
            for (id in edges.getIds()) {
                if (edges.get(id).from === fromId && edges.get(id).to === toId && edges.get(id).label === under) {
                    document.getElementById('errorFeed').innerHTML = "Adding duplicate transitions is not allowed!"
                    return;
                }
            }
            
            edges.add({id:edgeId,from:fromId,to:toId,arrows:'to',label:under,color:'#2B7CE9'});
            ++edgeId;
            network.redraw();
        }
        
        //Removes the selected graph element
        function removeSelected() {
            if (network.getSelectedNodes().length === 0 && network.getSelectedEdges().length === 0) {
                document.getElementById('errorFeed').innerHTML = "No edges/nodes selected!"
                return;
            }
            for (node in network.getSelectedNodes()) {
                if (nodes.get(node).shape === "diamond") {
                    hasInitial = 0;
                }
            }
            network.deleteSelected();
            updateNodeList();
        }
        
        function removeGraph() {
            document.getElementById('errorFeed').innerHTML = "";
            if (nodes.length === 0 && edges.length === 0) {
                document.getElementById('errorFeed').innerHTML = "Nothing to remove!"
                return;
            }
            nodes.remove(nodes.getIds());
            edges.remove(edges.getIds());
            hasInitial = 0;
            updateNodeList();
        }
                
        $(function() {
            $('#exFsmXml').bind('click', function() {
                $.getJSON($SCRIPT_ROOT + '/export_fsmxml', {
                        edges: JSON.stringify(edges._data),
                        nodes: JSON.stringify(nodes._data)
                    }, function(data) {
                       document.getElementById('outputArea').innerHTML = "<pre>" + data.outputArea + "</pre>";
                });
            return false;
            });
        });

         $(function() {
            $('#exScXml').bind('click', function() {
                $.getJSON($SCRIPT_ROOT + '/export_scxml', {
                        edges: JSON.stringify(edges._data),
                        nodes: JSON.stringify(nodes._data)
                    }, function(data) {
                       document.getElementById('outputArea').innerHTML = "<pre>" + data.outputArea + "</pre>";
                });
            return false;
            });
        });

        
        
        </script>
    </body>