<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="../static/img/sigma.png"/>
        <title>simple-fsm</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>     
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">simple<strong>fsm</strong></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('editor') }}">Editor</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('help') }}">Help</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://glyphicons.com/">Glyphicons</a></li>
                    <li><a href="http://github.com/kuhi/simple-fsm">GitHub</a></li>
                </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        
        <div class="container">
            <div class="jumbotron">
                <form id="scxmlform" method="post" action="{{ url_for('evaluate_fsm') }}">
                    <h3>Finite State Machine XML:</h3>
                    <div class="dropdown">
                        <button class="btn btn-xs btn-success dropdown-toggle" type="button" data-toggle="dropdown">Samples<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a id="aba-substring">"aba" substring</a></li>
                            <li><a id="second">{a,b}*.{c}.{aa,b}*.{d}+</a></li>
                            <li><a id="third">{a,b}*.({cd}+.{d}.{a,b}*{c}).{a,b}+</a></li>
                        </ul>
                    </div><br>
                    <textarea wrap="hard" style="font-family:monospace;overflow-y:scroll;" class="form-control" style="resize:vertical;" rows="15" name="scxml" id="scxml" form="scxmlform">Enter the xml in FSM-XML format here. An explanation on how to represent a Finite State machine using the FSM-XML format is on this site's Help section.</textarea>
                    <br/>
                    <h3>Words to evaluate: </h3>
                    <small class="text-muted" >Only the first <b>{{maxwords}}</b> words will be evaluated!</small>        
                    <textarea wrap="soft" style="font-family:monospace;resize:vertical" class="form-control" style="resize:vertical;" rows="15" name="words" id="words" form="scxmlform">Enter words for your automaton to evaluate. Enter one word per line.</textarea>
                    <br/>
                    <input class="btn btn-lg btn-success" type="submit" value="Compute" />    
                </form>
            </div>
        </div>
        
        <script src="{{url_for('static',filename='jquery-1.12.3.min.js')}}"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='jquery.autogrowtextarea.min.js' ) }}"></script>
        <script>
            $(document).ready(function() {
                $(".form-control").autoGrow({
                    extraLine: true
                });
            });
            $("#aba-substring").click(function() {
                $('#scxml').html(`&lt;!-- Σ={a,b,c,d}. has the substring 'aba' --&gt;
&lt;fsm&gt;
    &lt;state id=&quot;1&quot; type=&quot;r&quot; label=&quot;initial&quot;&gt;
        &lt;transition under=&quot;a&quot;&gt;2&lt;/transition&gt;
        &lt;transition under=&quot;b&quot;&gt;1&lt;/transition&gt;
        &lt;transition under=&quot;c&quot;&gt;1&lt;/transition&gt;
        &lt;transition under=&quot;d&quot;&gt;1&lt;/transition&gt;
    &lt;/state&gt;
    &lt;state id=&quot;2&quot; type=&quot;r&quot; label=&quot;a-&quot;&gt;
        &lt;transition under=&quot;a&quot;&gt;1&lt;/transition&gt;
        &lt;transition under=&quot;b&quot;&gt;3&lt;/transition&gt;
        &lt;transition under=&quot;c&quot;&gt;1&lt;/transition&gt;
        &lt;transition under=&quot;d&quot;&gt;1&lt;/transition&gt;
    &lt;/state&gt;
    &lt;state id=&quot;3&quot; type=&quot;r&quot; label=&quot;-b-&quot;&gt;
        &lt;transition under=&quot;a&quot;&gt;4&lt;/transition&gt;
        &lt;transition under=&quot;b&quot;&gt;1&lt;/transition&gt;
        &lt;transition under=&quot;c&quot;&gt;1&lt;/transition&gt;
        &lt;transition under=&quot;d&quot;&gt;1&lt;/transition&gt;
    &lt;/state&gt;
    &lt;state id=&quot;4&quot; type=&quot;f&quot; label=&quot;-a&quot;&gt;
        &lt;transition under=&quot;a&quot;&gt;4&lt;/transition&gt;
        &lt;transition under=&quot;b&quot;&gt;4&lt;/transition&gt;
        &lt;transition under=&quot;c&quot;&gt;4&lt;/transition&gt;
        &lt;transition under=&quot;d&quot;&gt;4&lt;/transition&gt;
    &lt;/state&gt;
&lt;/fsm&gt;`);
            $("#scxml").css("height","574");
            });
            $("#second").click(function() {
                $('#scxml').html(`&lt;!-- {a,b}*.{c}.{aa,b}*.{d}+ --&gt;
&lt;fsm&gt;
    &lt;state id=&quot;1&quot; label=&quot;init&quot; type=&quot;r&quot;&gt;
        &lt;transition under=&quot;a&quot;&gt;1&lt;/transition&gt;
        &lt;transition under=&quot;b&quot;&gt;1&lt;/transition&gt;
        &lt;transition under=&quot;c&quot;&gt;2&lt;/transition&gt;
    &lt;/state&gt;
    &lt;state id=&quot;2&quot; label=&quot;2&quot; type=&quot;r&quot;&gt;
        &lt;transition under=&quot;b&quot;&gt;2&lt;/transition&gt;
        &lt;transition under=&quot;a&quot;&gt;3&lt;/transition&gt;
        &lt;transition under=&quot;d&quot;&gt;4&lt;/transition&gt;
    &lt;/state&gt;
    &lt;state id=&quot;3&quot; label=&quot;3&quot; type=&quot;r&quot;&gt;
        &lt;transition under=&quot;a&quot;&gt;2&lt;/transition&gt;
    &lt;/state&gt;
    &lt;state id=&quot;4&quot; label=&quot;final&quot; type=&quot;f&quot;&gt;
        &lt;transition under=&quot;d&quot;&gt;4&lt;/transition&gt;
    &lt;/state&gt;
&lt;/fsm&gt;`);
            $("#scxml").css("height","400");
            });
            $("#third").click(function() {
                $('#scxml').html(`&lt;!-- {a,b}*.({cd}+.{d}.{a,b}*{c}).{a,b}+ --&gt;
&lt;fsm&gt;
    &lt;state id=&quot;1&quot; label=&quot;init&quot; type=&quot;r&quot;&gt;
        &lt;transition under=&quot;a&quot;&gt;1&lt;/transition&gt;
        &lt;transition under=&quot;b&quot;&gt;1&lt;/transition&gt;
        &lt;transition under=&quot;c&quot;&gt;2&lt;/transition&gt;
    &lt;/state&gt;
    &lt;state id=&quot;2&quot; label=&quot;2&quot; type=&quot;r&quot;&gt;
        &lt;transition under=&quot;d&quot;&gt;3&lt;/transition&gt;
    &lt;/state&gt;
    &lt;state id=&quot;3&quot; label=&quot;3&quot; type=&quot;r&quot;&gt;
        &lt;transition under=&quot;c&quot;&gt;2&lt;/transition&gt;
        &lt;transition under=&quot;d&quot;&gt;4&lt;/transition&gt;
    &lt;/state&gt;
    &lt;state id=&quot;4&quot; label=&quot;4&quot; type=&quot;f&quot;&gt;
        &lt;transition under=&quot;a&quot;&gt;4&lt;/transition&gt;
        &lt;transition under=&quot;b&quot;&gt;4&lt;/transition&gt;
        &lt;transition under=&quot;c&quot;&gt;5&lt;/transition&gt;
    &lt;/state&gt;
    &lt;state id=&quot;5&quot; label=&quot;5&quot; type=&quot;f&quot;&gt;
        &lt;transition under=&quot;a&quot;&gt;6&lt;/transition&gt;
        &lt;transition under=&quot;b&quot;&gt;6&lt;/transition&gt;
    &lt;/state&gt;
    &lt;state id=&quot;6&quot; label=&quot;final&quot; type=&quot;f&quot;&gt;
        &lt;transition under=&quot;a&quot;&gt;6&lt;/transition&gt;
        &lt;transition under=&quot;b&quot;&gt;6&lt;/transition&gt;
    &lt;/state&gt;
&lt;/fsm&gt;`);
            $("#scxml").css("height","574");
            });
        </script>
    </body>
</html>
 