<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="../static/img/sigma.png"/>
        <title>simple-fsm</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vis.min.css') }}"/> 
        <style type="text/css">
            #displayedGraph {
            width: 100%;
            height: 600px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">simple<strong>fsm</strong></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('editor') }}">Editor</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('help') }}">Help</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://glyphicons.com/">Glyphicons</a></li>
                    <li><a href="http://github.com/kuhi/simple-fsm">GitHub</a></li>
                </ul>
                </div>
            </div>
        </nav>
        
    
        <div class="container">
            <div class="jumbotron">
                <br>
                <pre style="white-space:pre-wrap">{{scxml}}</pre> 
                <br>
                <p>Be aware that the <span style="color:green">ε</span> letter is in this case used to represent a space (" ") rather than an empty string!</p>
                <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Input word</th>
                            <th>Automata result</th>
                            <th>Transitions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for word in words %}
                        <tr>
                            <td>{% for letter in word %}{% if letter == " " %}<span style="color:green">ε</span>{% else %}{{letter}}{% endif %}{% endfor %}</td>
                            {% if not words[word][0] %}<td><span style="color:red" class="glyphicon glyphicon-remove"></span> {{words[word][1]}}</td>
                                <td/>
                            {% else %}<td><span style="color:green" class="glyphicon glyphicon-ok"></span></td><td><button class=" btn-success btn-xs" id="{%print(word)%}">View transition</button></td>{% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                <br>
                <div id="displayedGraph"></div>
                <button id="resetgraph" class="btn btn-s btn-success" >Reset</button>
                <input class="btn btn-s btn-success" id="exScXml" type="submit" value="Export as scxml" />
                <div id="outputArea"></div>
            </div>
        </div>
        
        <script src="{{url_for('static',filename='jquery-1.12.3.min.js')}}"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='vis.min.js') }}"></script>
        <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    {{graphvis|safe}}
    {{transitionscripts|safe}}
    {{resetgraph|safe}}

        $(function() {

            $('#exScXml').bind('click', function() {
                try {
                $.getJSON($SCRIPT_ROOT + '/export_scxml', {
                        edges: JSON.stringify(edges._data),
                        nodes: JSON.stringify(nodes._data)
                    }, function(data) {
                       document.getElementById('outputArea').innerHTML = "<pre>" + data.outputArea + "</pre>";
                });
                }
                catch(err) {
                    window.alert(err.message);
                }
            return false;
            });
        });

        </script>
    </body>