<!doctype html>
<html lang="en">
    <head>
        <title>simple-fsm</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-linedtextarea.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
        <script src="{{ url_for('static',filename='jquery-1.8.1.min.js' ) }}"></script>
        <script src="{{ url_for('static',filename='jquery.autogrowtextarea.min.js' ) }}"></script>
        <script src="{{ url_for('static',filename='jquery-linedtextarea.js') }}"></script>
        <script>
            $(document).ready(function() {
                $(".form-control").autoGrow({
                    extraLine: true
                });
            });
        </script>
    </head>
    <body>
        <div class="container">
            <h1>simple<strong>fsm</strong></h1>
            <div class="jumbotron">
                <form id="scxmlform" method="post" action="{{ url_for('evaluate_fsm') }}">
                    <h3>Finite State Machine XML:</h3>
                    <textarea class="form-control" style="resize:vertical;" rows="15" name="scxml" form="scxmlform">Enter xml in SCXML format here.</textarea>
                    <br/>
                    <h3>Words to evaluate:</h3>
                    <textarea class="form-control" style="resize:vertical;" rows="15" name="words" form="scxmlform">Enter words for your automaton to evaluate. Enter one word per line.</textarea>
                    <br/>
                    <input class="btn btn-lg btn-success" type="submit" value="Compute" />    
                </form>
            </div>
        </div>
    </body>
</html>
 