<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="../static/img/sigma.png"/>
        <title>simple-fsm</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>  
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vis.min.css') }}"/>         
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">simple<strong>fsm</strong></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('editor') }}">Editor</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('help') }}">Help</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://glyphicons.com/">Glyphicons</a></li>
                    <li><a href="http://github.com/kuhi/simple-fsm">GitHub</a></li>
                </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        
        <div class="container">
            <div class="jumbotron">
            <h2>Simple-fsm help page</h2>
            <h3>This help page is up to date for the current version (v0.1.0 ALPHA) only. To see the newest documentation for the newest version, see our <a href="https://github.com/kuhi/simple-fsm/wiki">github wiki</a>.</h3><br/>
            <p>As the name suggests, working with this application is very simple. The xml document describing the finite state automata is very simple as well.</p>
            <p>Here's the simplest thing you can describe using fsm-xml (trademark pending).</p>
            <pre>
&lt;fsm&gt;
    &lt;state id=&quot;0&quot; type=&quot;f&quot; label=&quot;initial&quot;&gt;  
        &lt;transition under=&quot;a&quot;&gt;0&lt;/transition&gt;  
    &lt;/state&gt;  
&lt;/fsm&gt;
            </pre>
            <p>Let's go through it step-by-step.</p>
            <ol>
                <li>The <code>&lt;fsm&gt;</code> element is the root element of the fsm-xml, it declares that the contents of the xml are describing a Finite State Machine (or Automaton). This attribute is mandatory</li></br>
                <li>The <code>&lt;state&gt;</code> element describes a state. <b>The first state found in the xml document is always the initial state!</b> On a graph, it will display as a node with a non-unique <code>label</code>, but the back-end of the app will always work with the <b>unique</b> <code>id</code> attribute.</li></br>
                <li>State's possible type attributes are as follows
                    <ul>
                        <li><b>r</b> : this type is <b>r</b>egular. A word contained in the language described by the automaton can not end in this state, but can pass through it.</li>
                        <li><b>f</b> : this type is the <b>f</b>inal state of the machine. All words contained in the language generated by the automaton must end in this state</li>
                    </ul></li></br>
                <li>The <code>transition</code> element <b>can</b> be nested inside a state attribute. It describes the letter <b>under</b> which does the word pass and to which <code>state</code> the destination is the <code>id</code> of an already existing state (or itself). On a graph this is represented with an edge.</li></br>
            </ol>    
            <h3>That's all folks! Have fun arraging the most intricate finite state machines! Theoretical Coputer Science can be fun when you're using Simple-fsm™</h3>
            </div>
        </div>
        
        <script src="{{url_for('static',filename='jquery-1.12.3.min.js')}}"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
    </body>
</html>
 